<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - UserAuthSystemMvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
@*             <a href="/">Home</a>
            <a href="/Auth/Login">Login</a>
            <a href="/Auth/Registration">Register</a> *@
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>