<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - UserAuthSystemMvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            @if (User.Identity.IsAuthenticated)
            {
                <span>Hi, @User.Identity.Name</span>
                <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-logout">Logout</button>
                </form>
            }
            else
            {
                <a href="/Auth/Login">Login</a>
                <a href="/Auth/Registration">Register</a>
            }
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>