@model UserAuthSystemMvc.Models.PasswordResetModel

@{
    ViewData["Title"] = "Password Reset";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <h1>Reset Password</h1>
        <a href="/" class="btn btn-home-button">Home Page</a>
    </header>
    <main>
        <section class="form-container">
            <div class="form-group">
                <h2>Password Reset</h2>
                <p>Please enter your email to reset your password.</p>
                <form asp-action="PasswordReset" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>
