@{
    ViewData["Title"] = "Password Change Complete!";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <h1>Password Change Successfully!</h1>
        <a href="/" class="btn btn-home-button">Home Page</a>
    </header>
</body>
</html>